<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交用户信息</title>
</head>
<body>
    <div>
        <h1>提交用户信息：</h1>
        <form action="/do_add_user" method="post">
            <table border="1">
                <tr>
                    <th>用户名</th>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <th>性别</th>
                    <td><input type="text" name="sex"></td>
                </tr>
                <tr>
                    <th>年龄</th>
                    <td><input type="text" name="age"></td>
                </tr>
                <tr>
                    <th>邮箱</th>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <th>提交</th>
                    <td><input type="submit" name="submit" value="提交"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
